{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Nextmoovment{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/style_menu.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                {% block header %}
                    <div id="logo">
                        <center>
                            <a href="index.php">
                                <img src="{{ asset('images/home/logo.jpg') }}" alt="Nextmoovment" title="Nextmoovment">
                            </a>
                        </center>
                    </div>
                    <div id="recherche_titre">
                        <div id="formulaire_recherche">
                            <form method="POST" action="search.php">
                                <div id="champ_recherche">
                                    <input name="search" value="Artistes, Albums, Vidéos ..." title="Rechercher dans les Artistes, Albums, Vidéos ..." onfocus="this.value = ''" type="text">
                                </div>
                                <div id="btn_recherche">
                                    <input src="{{ asset('images/home/loupe.jpg') }}" value="submit" type="image">
                                </div>
                            </form>
                        </div> <!-- Fin formulaire -->
                    </div>
                    <div id="liens">
                        <span id="titre_liens">REJOIGNEZ   NEXTMOOVMENT</span>
                        <span class="header_link" id="rss_link"><a href="http://www.nextmoovment.com/flux_nextmoovment.xml" target="_blank"></a></span>
                        <span class="header_link" id="facebook_link"><a href="http://www.facebook.com/pages/Next-Moovment/153954004620103?ref=hl" target="_blank"></a></span>
                        <span class="header_link" id="twitter_link"><a href="https://twitter.com/nextmoovment" target="_blank"></a></span>
                        <span class="header_link" id="youtube_link"><a href="http://www.youtube.com/user/NEXTMOOVMENTOFFICIEL?feature=CAQQwRs%3D" target="_blank"></a></span>
                    </div>
                {% endblock header %}
            </header>
            <div class="row">
                <div id="menu" class="span3">
                    {% block menu %}
                        <h3>Le blog</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Accueil du blog</a></li>
                            <li><a href="#">Ajouter un article</a></li>
                        </ul>
                    {% endblock menu %}
                </div>
                <div id="content" class="span9">
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>
            <hr>
            <footer>
                {% block footer %}
                    <p>The sky's the limit © 2012 and beyond.</p>
                {% endblock footer %}
            </footer>
        </div>
        {% block javascripts %}
            {# Ajoutez ces lignes JavaScript si vous comptez vous servir des
            fonctionnalités du bootstrap Twitter #}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>
