{% extends "base.html.twig" %}

{# Les styles #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style_index.css') }}" type="text/css" />
{% endblock stylesheets %}



{# On remplace le titre #}
{% block title %}{{ parent() }} - Références{% endblock title %}


{# On remplace le header #}
{% block header %}
    {% include 'NextmoovmentReferenceBundle:Reference:menu.html.twig'%}
{% endblock header %}


{% block menu %}
    {{ render(controller("NextmoovmentReferenceBundle:Reference:menu", {'nombre': 3})) }}
{% endblock menu %}

{# On remplace le bloc body #}
{% block body %}
    <p>Hello {{ name }}!</p>
    
    <p>
        <a href="#" class="btn"><i class="glyphicon glyphicon-trash"></i>Supprimer l'article</a>
    </p>
    <p class="bg-warning" style="padding:15px">test</p>
    <p class="bg-danger" style="padding:15px">test</p>
    <p class="bg-info" style="padding:15px">test</p>
    <p class="bg-primary" style="padding:15px">test</p>
    <p class="bg-success" style="padding:15px">test</p>
    
{% endblock body %}

{# On remplace le bloc footer #}
{% block footer %}
    {{ parent() }}
{% endblock footer %}

{# On remplace le bloc JS #}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}